{% extends 'glasgowgaffsapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'styles/create.css' %}" />

<form method="post">
    {% csrf_token %}

    <h1 id="title">Create Event</h1>

    <div class="form-group">
        {{ form.title }}
    </div>

    <div class="form-group">
        {{ form.description }}
    </div>

    <div class="form-group">
        {{ form.date }}

        {% if form.date.errors %}
        <p class="err">{{ form.date.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.time }}
    </div>
    <div class="form-group">
        {{ form.location }}
    </div>

    <input id="create-button" type="submit" name="submit" value="Let's get partying!" />
</form>
{% endblock %}