{% extends 'glasgowgaffsapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'styles/event.css' %}" />

<section id="main">
    <a href="{% url 'glasgowgaffsapp:events' %}" id="back-button">← Back to Events</a>
    <h1 id="title">{{ event.title }}</h1>

    <div id="content">
        <div id="details">
            <div class="detail-group">
                <span class="detail-label">Location: </span>
                <span class="detail" id="event-location" data-address="{{ event.location.address }}">
                    {{ event.location.address }}
                </span>
            </div>

            <div class="detail-group">
                <span class="detail-label">Date: </span>
                <span class="detail"> {{ event.date }}</span>
            </div>

            <div class="detail-group">
                <span class="detail-label">Time:</span>
                <span class="detail"> {{ event.time }}</span>
            </div>

            <div class="detail-group">
                <span class="detail-label">Party-goers:</span>
                <span class="detail"> {{ event.attendees.count }}</span>
            </div>

            <div class="detail-group">
                <span class="detail-label">Party host:</span>
                <span class="detail"> {{ event.created_by }}</span>
            </div>

            <br>
            <span id="event-description">{{ event.description }} </span>
        </div>

        <div id="map"></div>
    </div>

    {% if user != event.created_by %}
    <div id="attend">
        {% if user.is_authenticated %}
        <button id="attend-button" data-event-id="{{ event.id }}" data-csrf-token="{{ csrf_token }}">
            {% if user in event.attendees.all %}
            Unattend!
            {% else %}
            Sign me up!
        </button>
        {% endif %}
        {% else %}
        <br><br><br>
        <a href="{% url 'glasgowgaffsapp:login' %}" id="log-in">Log in to Attend!</a>
        {% endif %}
    </div>
    {% endif %}
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'javascript/event.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIInzkFQnPkvvLdbUsZX8Yiz5xOXxeQAU&callback=initMap"></script>
<script src="{% static 'javascript/refresh.js' %}"></script>

{% endblock %}