{% extends 'glasgowgaffsapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
<div id="main">
    <img src="{% static 'images/image1.png' %}" alt="Picture of River Clyde" />

    <div id="about-section">
        <h1 id="title">Glasgow Gaffs</h1>
        {% if user.is_authenticated %}
        <h3 id="greeting">Welcome, {{ user.username }}!</h3>
        {% endif %}
        <h4 id="about-text">Glasgow’s got a legendary nightlife, but let’s be real—sometimes the best nights aren’t in
            clubs, they’re in flats, living rooms, and back gardens. That’s where we come in.

            <br>
            <br>
            Glasgow Gaffs is your
            go-to platform for finding, organizing, and attending the best student house parties in the city.
            Whether you're looking for a last-minute sesh, planning your own gaff, or just trying to avoid another night
            scrolling TikTok—we’ve got you covered.
            <br>
            <br>

            🔍 Discover the wildest gaffs near you.🎟️ Join exclusive parties with ease.🏡 Host your own and get the
            right crowd.
            <br><br>

            No bouncers, no overpriced drinks—just good vibes, great people, and nights you might (or might not)
            remember.

            See you at the next gaff. 🍻🔥
        </h4>
        <a href="{% url 'glasgowgaffsapp:events' %}" id="see-events">See Events</a>
    </div>

    <img src="{% static 'images/image2.png' %}" alt="Picture of George Square" />
</div>
{% endblock %}