{% extends 'glasgowgaffsapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}" />

<form id="user-form" method="post" action="{% url 'glasgowgaffsapp:login' %}">
    {% csrf_token %}
    <h1 id="title">Log In</h1>


    <div class="form-group">
        <input placeholder="Username" type="text" name="username" value="" size="50" />
    </div>

    <div class="form-group">
        <input placeholder="Password" type="password" name="password" value="" size="50" />
    </div>

    <input id="register-button" type="submit" value="Log In" />

</form>

{% endblock %}