{% extends 'glasgowgaffsapp/base.html' %}
{% load static %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'styles/myevents.css' %}" />
    
<div id="events_container">
    <h1 id="title">My Events</h1>

    <!-- Created/Attending Toggle Switch -->
    <div class="toggle_wrapper">
        <h2 id="created_title" class="bold">Created Events</h2>
        <label class="toggle-container">
            <input type="checkbox" id="eventToggle">
            <span class="toggle-label"></span>
        </label>
        <h2 id="attending_title">Attending Events</h2>
    </div>
    <!-- Upcoming/Popular Events Toggle Switch -->
    <div class="toggle_wrapper">
        <h2 id="upcoming_title" class="bold">Upcoming Events</h2>
        <label class="toggle-container">
            <input type="checkbox" id="sortToggle">
            <span class="toggle-label"></span>
        </label>
        <h2 id="popular_title">Popular Events</h2>
    </div>

    <!-- Create Events Button -->
    <div class="button-container">
        <a href="{% url 'glasgowgaffsapp:create' %}" id="create-event">Create New Event!</a>
    </div>

    <!-- Created Events Section -->
    <div id="created_events" class="event_grid">
        {% for event in created_events %}
        <a class="event" href="{% url 'glasgowgaffsapp:event' event.id %}">
            <div class="event_card">
                <h2>{{ event.title }}</h2>
                <p>Location: {{ event.location }}</p>
                <p>Date: {{ event.date }}</p>
                <p>Time: {{ event.time }}</p>
                <p>Attendees: {{ event.attendees.count}}</p>
                <p>{{ event.description }}</p>
            </div>
        </a>
        {% empty %}
            <p>No events have been created</p>
        {% endfor %}
    </div>
    <!-- Attending Events Section -->
    <div id="attending_events" class="event_grid hidden">
    {% for event in attending_events %}
        <a class="event" href="{% url 'glasgowgaffsapp:event' event.id %}">
            <div class="event_card" >
                <h2>{{ event.title }}</h2>
                <p>Location: {{ event.location }}</p>
                <p>Date: {{ event.date }}</p>
                <p>Time: {{ event.time }}</p>
                <p>Attendees: {{ event.attendees.count}}</p>
                <p>{{ event.description }}</p>
            </div>
        {% empty %}
            <p>You are not attending and events.</p>
        {% endfor %}
        </a>
    </div>
</div>

<script src="{% static 'javascript/slider.js' %}"></script>
<script src="{% static 'javascript/filter.js' %}"></script>
{% endblock %}
