@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap');

#nav-bar {
    width: 100%;
    background-color: #2D0B48;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

#body-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

#home-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#home-button:hover {
    transform: scale(1.1);
    color: #69329C;
}

.auth-button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.auth-button:hover {
    cursor: pointer;
}

#pipe {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.auth-button:hover {
    color: #69329C;
}

.user-button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.user-button:hover {
    color: white;
}

body {
    background-color: #69329C;
    font-family: "Encode Sans Semi Condensed", sans-serif;
}

h1,
h2,
#user-area a[href*="register"],
#user-area a[href*="login"] {
    font-family: 'Saira Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {

    #home-button {

        font-size: 36px;
    }

    .auth-button {
        font-size: 18px;
    }

    .user-button {
        font-size: 18px;
    }

}