#nav-bar {
    width: 100%;
    background-color: #2D0B48;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

#body-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

#home-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#home-button:hover {
    transform: scale(1.1);
    color: #69329C;
}

.auth-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.auth-button:hover {
    cursor: pointer;
}

#pipe {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.auth-button:hover {
    color: #69329C;
}


body {
    background-color: #69329C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}