#title {
    /* title styling for event page */
    color: white;
    font-size: 48px;
    font-weight: 700;
}
/* -------------------- general Layout -------------------- */
#content {
    /* container holding event details and map */
    display: flex;
    color: white;
    justify-content: space-between;
}

#details {
    /* left-side block for event info */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

img {
    /* optional image styling */
    max-width: 30vw;
}
/* -------------------- event details -------------------- */
.detail-group {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#details .detail {
    /* emphasized values */
    font-weight: 700;
}

.detail-label {
    /* labels beside each detail */
    margin-right: 16px;
}
/* -------------------- Buttons (Attend, Login, Back) -------------------- */
#attend-button {
    /* general styling for attend button */
    color: white;
    background-color: #2D0B48;
    font-size: 24px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    margin-bottom: 3%;
    margin-top: 3%;
    transition: all 0.3s ease;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

#attend-button:hover {
    /* hover effect for attend button */
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}

#attend {
    /* container for button alignment  */
    text-align: center;
}

#back-button {
    /* general styling for back button */
    color: white;
    background-color: #2D0B48;
    font-size: 18px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.15);
    display: inline-block;
    text-decoration: none;
}

#back-button:hover {
    /* hover effect for the back button */
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}

#log-in {
    /* general styling for log in  button */
    color: white;
    background-color: #2D0B48;
    font-size: 24px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    margin-bottom: 3%;
    margin-top: 3%;
    transition: all 0.3s ease;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#log-in:hover {
    /* hover effect for the login button */
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}
/* -------------------- Google Map Styling -------------------- */
#map {
    width: 50%;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}
/* -------------------- Responsive Design -------------------- */
@media screen and (max-width: 768px) {
    #content {
        flex-direction: column;
    }

    #map {
        width: 70%;
    }

    #attend {
        text-align: left;
    }


    .detail-group {
        font-size: 20px;
    }

    #attend a,
    #attend button {
        font-size: 20px;
    }

    #back-button {
        font-size: 12px;
    }

}

@media screen and (max-width: 468px) {
    #map {
        width: 100%;
    }

    #title {
        font-size: 30px;

    }

    .detail-group {
        font-size: 16px;
    }

    #attend a,
    #attend button {
        font-size: 20px;
    }

}