/* -------------------- Hero Section -------------------- */
#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title {
    /* title styling for index page */
    color: white;
    font-size: 48px;
    font-weight: 700;
}

/* -------------------- image styling -------------------- */
img {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 25vw;
}
/* -------------------- about section -------------------- */
#about-text {
    /* general styling for about text */
    color: white;
    font-size: 16px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#about-section {
    /* general styling for about section */
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#see-events {
    /* general styling for see events button */
    display: block;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #2D0B48;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
    text-decoration: none;

    text-align: center;
    margin: 0 auto;
}

#see-events:hover {
    /* hover effect for the see events button */
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}
/* -------------------- greeting & responsive image control -------------------- */
#greeting {
    /* general styling greeting message  */
    color: white;
    font-size: 30px;
    font-weight: 700;
}

#clyderesponsiveimg {
    display: none;
}
/* -------------------- responsive background -------------------- */
@media screen and (max-width: 780px) {

    #georgesqimg,
    #clydeimg {
        display: none;
    }

    body {
        /* general styling for body */
        background-image: url("../images/backgroundrelative.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }



}