#title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    display: block;
}

.toggle_wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
    text-align: left;
}

.toggle-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 60px;

}

.toggle-container input {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #2D0B48;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

.toggle-container input:checked+.toggle-label {
    background-color: #34c759;
}

.toggle-container input:checked+.toggle-label::before {
    transform: translate(25px, -50%);
}

#created_title,
#attending_title,
#upcoming_title,
#popular_title {
    color: grey;
    font-size: 30px;
    font-weight: normal;
    transition: font-weight 0.3s ease, color 0.3s ease;
    min-width: 140px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.bold {
    color: white !important;
}


#created_title::after,
#attending_title::after,
#upcoming_title::after,
#popular_title::after {
    content: attr(data-text);
    font-weight: bold;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
}

.event_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.hidden {
    display: none;
}

.event {
    display: block;
    height: 100%;
    text-decoration: none;
}

.event_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #2D0B48;
    padding: 12px;
    color: white;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.event_card:hover {
    transform: scale(1.03);
    background-color: white;
    color: #2D0B48;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button-container {
    display: flex;
    margin-bottom: 20px;
}

/* styling for create event button */
#create-event {
    display: block;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #2D0B48;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

/* hover effect for the create event button*/
#create-event:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}

/* generic media styling*/
@media (max-width: 1024px) {
    .event_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .event_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .event_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* remove inherent underlining */
#events_container a {
    text-decoration: none !important;
}