@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500;600&display=swap');

#title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    display: block;
}

#events_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.toggle_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.toggle-container input {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #2D0B48;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

.toggle-container input:checked + .toggle-label {
    background-color: #34c759;
}

.toggle-container input:checked + .toggle-label::before {
    transform: translate(25px, -50%);
}

#created_title, #attending_title {
    color: grey;
    font-size: 30px;
    font-weight: normal;
    transition: font-weight 0.3s ease, color 0.3s ease;
    min-width: 140px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.bold {
    font-weight: bold !important;
    color: white !important;
}

.normal {
    font-weight: normal;
}

#created_title::after, #attending_title::after {
    content: attr(data-text);
    font-weight: bold;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
}

#event_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .event_section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .event_section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .event_section {
        grid-template-columns: repeat(1, 1fr);
    }
}

.hidden {
    display: none;
}

.event_card {
    background-color: #2D0B48;
    padding: 12px;
    color: white;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.event_card:hover {
    font-weight: 600;
    background-color: white;
    color: #2D0B48;
    transform: scale(1.05);
}


.button-container {
    text-align: center;
    margin-top: 15px;
}

#create-event {
    display: block;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #2D0B48;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
    text-decoration: none;

    text-align: center;
    margin: 0 auto;
}

#create-event:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: #2D0B48;
}
